.scrollContainer {
	width: 100%;
	position: absolute;
	bottom: 60px;
	display: flex;
	justify-content: center;
}

.scrollIcon {
	display: block;
	margin: -17px 0;
	font-size: 40px;
	color: #777;
}

.active {
	color: #99eeff;
	filter: drop-shadow(0 0 6px #fff);
}
