.section {
	background: #000000d4;
}

.container {
	margin: 40px 0 0 0;
	display: grid;
	grid-template-rows: 40% 40%;
	grid-template-columns: 90%;
	align-items: center;
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: flex-start;
	gap: 30px;
}

.descriptionSection {
	position: relative;
	right: 50px;
	opacity: 0;
	transition: all 0.7s ease;
}

.descriptionSection.visible {
	right: 0;
	opacity: 1;
}

.title {
	font-size: 36px;
	font-weight: 600;
	color: transparent;
	background: -webkit-linear-gradient(
		-45deg,
		#ee7752,
		#c8004d,
		#238bd5,
		#23bad5,
		#ee7752
	);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 200%;
	animation: gradient 25s linear infinite;
}

.subtitle {
	font-size: 16px;
	width: 100%;
	padding: 16px 0 0 0;
	font-weight: 400;
}

.imageSection {
	position: relative;
	left: 50px;
	opacity: 0;
	transition: all 0.6s ease-in-out;
	transition-delay: 0.2s;
	grid-area: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imageSection.visible {
	opacity: 1;
	left: 0;
}

.imageContainer {
	position: relative;
	width: 80%;
	max-width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.light {
	background-color: #0edbff;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 20%;
	z-index: -1;
	box-sizing: content-box;
	opacity: 0.9;
	filter: blur(50px);
	transform: perspective(600px) rotateY(-15deg);
}

.image {
	width: 100%;
	height: auto;
	box-shadow: 10px 0 30px #000;
	transform: perspective(600px) rotateY(-15deg);
	transform-style: preserve-3d;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 400% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

@media screen and (min-width: 670px) {
	.subtitle {
		font-size: 18px;
	}

	.title {
		font-size: 48px;
	}
}

@media screen and (min-width: 800px) {
	.container {
		margin: 0;
		grid-template-rows: 90% 1fr;
		grid-template-columns: 50% 50%;
		align-items: center;
		text-align: left;
	}

	.subtitle {
		width: 90%;
		font-size: 18px;
	}

	.title {
		font-size: 48px;
	}

	.imageContainer {
		max-width: 382px;
	}

	.imageSection {
		grid-area: 1 / 2;
	}
}
