.container {
	margin: 190px 0 0 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 180px 20px;
}

@media screen and (min-width: 800px) {
	.container {
		margin: 210px 0 0 0;
		justify-content: space-around;
	}
}
